ul, ol {
  margin: 0;
}
#start-simulator {
  width: 100%;
  font-size: 2rem;
}

#question_category {
  font-size: 2rem;
  height: auto;
}

.simulator-title, .simulator-initial-message, #question_category, .question{
  color: rgb(55, 58, 60) !important;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif !important;
}

.question h4, h3 {
  margin: .5rem auto .5rem !important;
}

.custom-control-label {
  font-size: 2rem;
}

.custom-control-label::before {
  width: 2.5rem;
  height: 2.5rem;
}

.custom-control-label::after {
  width: 2.5rem;
  height: 2.5rem;
}

.custom-checkbox {
  margin-bottom: 1rem;
}

.page-item:not(.disabled) .page-link {
  color: rgb(55, 58, 60) !important;
}

.page-item .page-link {
  border-radius: .5rem !important;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif !important;
}

.pagination a:focus, .pagination a:hover {
  text-decoration: none !important;
}

.pagination {
  margin: 0;
}

.progress {
  height: 3rem;
  border-radius: .5rem;
}

.progress-bar {
  font-size: 2rem;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif !important;
  -webkit-transition: width 2.5s ease !important;
  transition: width 2.5s ease !important;
}

.progress-bar[aria-valuenow="0"], .progress-bar[aria-valuenow="2"] {
  min-width: 30px;
}

.question-thumbnail {
  width: 100%;
}

.question-thumbnail img {
  width: 100%;
}