.simulator-content, .simulator-nav, .enem-simulator-modal, .simulator-result {
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif !important;
  color: rgb(55, 58, 60) !important;
}

.enem-simulator-modal button {
  padding: 1rem .7rem 1rem .7rem;
  border-radius: .5rem !important;
  border: 1px solid #dee2e6 !important;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: none;
}

.enem-simulator-modal .modal-header .close {
  padding: 1rem !important;
  margin: -1rem -1rem -1rem auto;
}

.enem-simulator-modal .btn-primary {
  background-color: #007bff !important;
}

.enem-simulator-modal .btn-primary:hover {
  color: #fff;
  background-color: #0069d9 !important;
  border-color: #0062cc !important;
}

.enem-simulator-modal .btn-secondary:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #7b8b9b !important;
  border-color: #dee2e6 !important;
}

.enem-simulator-modal .btn-secondary {
  background-color: #fff !important;
  color: rgb(55, 58, 60) !important;
}

.enem-simulator-modal button .close {
  background-color: #fff !important;
}

.enem-simulator-modal .modal-title {
  margin: 0 !important;
  line-height: 1.5;
  padding: 1rem;
}

.enem-simulator-modal button.close {
  padding: 0;
  background-color: transparent !important;
  border: 0;
  -webkit-appearance: none;
  font-size: 3.5rem;
}

.simulator-content ul, ol {
  margin: 0;
}

.simulator-content li {
  margin: 0.5rem 2rem 0 0 !important;
}

#start-simulator {
  width: 100%;
  font-size: 2rem;
  background-color: #007bff !important;
}

#question_category {
  font-size: 2rem;
  height: auto;
}

.question h4, h3 {
  margin: .5rem auto .5rem !important;
}

.custom-control-label {
  font-size: 2rem;
}

.simulator-content .custom-control-label::before {
  width: 2.5rem;
  height: 2.5rem;
}

.simulator-content .custom-control-label::after {
  width: 2.5rem;
  height: 2.5rem;
}

.simulator-content .custom-checkbox {
  margin-bottom: 1rem;
}

.simulator-content .custom-control-input.is-valid:checked ~ .custom-control-label::before, .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
  background-color: #34ce57 !important;
}

.simulator-content .custom-control-input.is-invalid:checked ~ .custom-control-label::before, .was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before {
  background-color: #e4606d !important;
}

.simulator-content .page-link {
  padding: 1rem .7rem 1rem .5rem;
}

.simulator-content .page-item:not(.disabled) .page-link {
  color: rgb(55, 58, 60) !important;
}

.simulator-content .page-item.disabled .page-link span {
  color: #6c757d !important;
}

.simulator-content .page-item .page-link {
  border-radius: .5rem !important;
  font-size: 2rem;
}

.simulator-content .pagination a:focus, .pagination a:hover {
  text-decoration: none !important;
}

.simulator-content .pagination {
  margin: 0;
}

.simulator-content .pagination .revise {
  margin-left: 8.5rem !important;
  margin-right: 0 !important;
}

.simulator-content .progress, .simulator-nav .progress{
  height: 3rem;
  border-radius: .5rem;
}

.simulator-content .progress-bar, .simulator-nav .progress-bar {
  font-size: 2rem;
 -webkit-transition: width 2.5s ease !important;
  transition: width 2.5s ease !important;
}

.simulator-content .progress-bar[aria-valuenow="0"], .progress-bar[aria-valuenow="2"],
.simulator-nav .progress-bar[aria-valuenow="0"], .progress-bar[aria-valuenow="2"] {
  min-width: 30px;
}

.question-thumbnail {
  width: 100%;
}

.question-thumbnail img {
  width: 100%;
}

.simulator-content .timer {
  font-weight: bolder;
  font-size: 2.5rem;
  text-align: right;
}

.simulator-content .timer p {
  margin-bottom: 0;
  line-height: 3.5rem !important;
  width: 200px;
}

.simulator-footer button {
  padding: 1rem .7rem 1rem .7rem;
  border-radius: .5rem !important;
  border: 1px solid #dee2e6 !important;
  background-color: #007bff !important;
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: none;
}

.simulator-footer button:hover {
  background-color: #0059b9 !important;
}

.simulator-nav ul, .simulator-result ul {
  margin: 0;
}

.simulator-nav li, .simulator-result li {
  font-size: 1.4rem;
  font-weight: bolder;
  list-style-type: none;
  display: inline;
}

.simulator-nav li:before, .simulator-result li::before {
  content: "■";
  font-size: 4rem;
  vertical-align: sub;
  line-height: 1.476;
}

.question-nav .question-nav-item {
  text-decoration: none !important;
  font-weight: bold;
  color: #fff !important;
}

.simulator-title {
  margin-top: 10rem !important;
}

.simulator-result table {
  border: none;
  border-collapse: collapse !important;
}

.simulator-result th, .simulator-result td {
  border: none;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: 1.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

