:root {
  --es-main-fonty-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  --es-main-color: rgb(55, 58, 60);
}

#enem-simulator  .simulator-content, 
#enem-simulator  .simulator-nav, 
#enem-simulator  .simulator-modal, 
#enem-simulator  .simulator-result {
  font-family: var(--es-main-fonty-family);
  color: var(--es-main-color);
}

#enem-simulator .simulator-content ul, 
#enem-simulator .simulator-content ol {
  margin: 0;
}

#enem-simulator .simulator-content .simulator-title {
  margin: 6rem auto 3rem;
  font-size: 48px;
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
  font-weight: 700;
  letter-spacing: -1.995px;
  line-height: 1.25;
  border: none;
  padding: 0;
  text-align: left;
  color: var(--es-main-color);
  font-family: var(--es-main-fonty-family);
}

#enem-simulator .simulator-content .simulator-initial-message p {
  text-align: justify;
  border: 0;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: normal;
  padding: 0;
  margin: 0 0 21px 0;
  line-height: 1.476;
  color: var(--es-main-color);
  font-family: var(--es-main-fonty-family);
}

#enem-simulator .simulator-content .simulator-category-options select {
  display: inline-block;
  width: 100%;
  padding: 3.75px 7.5px 7.5px 3.75px;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 2.5px;
  text-transform: none;
  letter-spacing: normal;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  height: auto;
  font-family: var(--es-main-fonty-family);
  margin: 0;
}

#enem-simulator .simulator-content .simulator-category-options button {
  padding: 0;
  border-style: none;
  width: 100%;
  font-size: 20px;
  background-color: #007bff;
  cursor: pointer;
  color: #fff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 3.75px 7.5px 7.5px 3.75px;
  line-height: 1.5;
  border-radius: 2.5px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  letter-spacing: 0.666px;
  margin: 0;
  opacity: 1;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--es-main-fonty-family); 
  overflow: visible;
}

/* MODAL */
#enem-simulator .simulator-modal .modal-title{
  margin: 0 ;
  line-height: 1.5;
  padding: 1rem;
  font-family: var(--es-main-fonty-family);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.9975px;
  text-align: left;
  color: #495057;
  border: none;
}

#enem-simulator .simulator-modal button.close {
  padding: 10px;
  margin: -10px -10px -10px auto;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 35px;
  letter-spacing: 1.1655px;
  text-align: center;
  text-transform: uppercase;
  float: right;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

#enem-simulator .simulator-modal .modal-footer > :not(:last-child) {
  padding-right: 7px;
}

#enem-simulator .simulator-modal .modal-footer button {
  padding: 10px 7px 10px 7px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  font-weight: 400;
  font-size: 15px;
  text-transform: none;
}

#enem-simulator .simulator-modal .modal-footer .btn-primary {
  background-color: #007bff;
  padding-left: 30px;
  padding-right: 30px;
}

#enem-simulator .simulator-modal .modal-footer .btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

#enem-simulator .simulator-modal .modal-footer .btn-secondary {
  background-color: #fff;
  color: var(--es-main-color);
}

#enem-simulator .simulator-modal .modal-footer .btn-secondary:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e2e6ea;
  border-color: #dee2e6;
}

#enem-simulator .simulator-modal .modal-body label {
  font-size: 16px;
  border: none;
  padding: 0;
  text-align: left;
  font-weight: 400;
  display: block;
  margin: 0 0 5px 0;
  font-family: var(--es-main-fonty-family);
  color: var(--es-main-color);
}

#enem-simulator .simulator-modal .modal-body input {
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  letter-spacing: -0.24px;
  border: 1px solid #ced4da;
  margin: 0;
  width: 100%;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  max-width: 100%;
  font-family: var(--es-main-fonty-family);
  font-weight: 400;
}

#enem-simulator .simulator-modal .modal-body p {
  padding: 0;
  font-size: 16px;
  letter-spacing: -0.24px;
  margin: 0;
  width: 100%;
  font-family: var(--es-main-fonty-family);
  font-weight: 400;
}
/* END MODAL */

/* QUESTIONS */
#enem-simulator .simulator-categories .question h3 {
  font-family: var(--es-main-fonty-family);
  font-size: 40px;
  color: var(--es-main-color);
  font-weight: 700;
  letter-spacing: -1.6625px;
  line-height: 50px;
  border: none;
  padding: 0;
  text-align: left;
  margin: 5px 0px 5px 0px;
}

#enem-simulator .simulator-categories .question h4 {
  font-family: var(--es-main-fonty-family);
  font-size: 32px;
  color: var(--es-main-color);
  font-weight: 700;
  letter-spacing: -1.33px;
  line-height: 40px;
  border: none;
  padding: 0;
  text-align: left;
  margin: 20px 0px 20px 0px;
}

#enem-simulator .simulator-categories .question p {
  text-align: justify;
  border: 0;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: normal;
  padding: 0;
  margin: 0 0 21px 0;
  line-height: 1.476;
  color: var(--es-main-color);
  font-family: var(--es-main-fonty-family);
}

#enem-simulator .simulator-categories .question .question-thumbnail {
  width: 100%;
}

#enem-simulator .simulator-categories .question .question-thumbnail img {
  width: 100%;
}

#enem-simulator .simulator-categories .question .custom-checkbox {
  margin-bottom: 10px;
}

#enem-simulator .simulator-categories .question .custom-control-label {
  font-size: 20px;
  margin-left: 5px;
  padding-left: 10px;
}

#enem-simulator .simulator-categories .question .custom-control-label::after,
#enem-simulator .simulator-categories .question .custom-control-label::before {
  width: 25px;
  height: 25px;
}

#enem-simulator .simulator-categories .custom-control-input.is-valid:checked ~ .custom-control-label::before, 
.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
  background-color: #34ce57 !important;
}

#enem-simulator .simulator-categories .custom-control-input.is-invalid:checked ~ .custom-control-label::before, 
.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before {
  background-color: #e4606d !important;
}

#enem-simulator .simulator-categories .question .custom-control-label img {
  margin-top: -50px;
  padding: 10px;
  height: 200px !important;
  width: 200px !important;
  margin-left: 60px !important;
}
/* END QUESTIONS */

/* PROGRESS BAR */
#enem-simulator .simulator-progress .progress, 
#enem-simulator .simulator-nav .progress{
  height: 30px;
  border-radius: 5px;
}

#enem-simulator .simulator-progress .progress .progress-bar, 
#enem-simulator .simulator-nav .progress .progress-bar{
  background-color: #007bff;
  color: #fff;
}

#enem-simulator .simulator-progress .progress-bar, 
#enem-simulator .simulator-nav .progress-bar {
  font-size: 20px;
 -webkit-transition: width 2.5s ease;
  transition: width 2.5s ease !important;
}

#enem-simulator .simulator-content .progress-bar[aria-valuenow="0"], 
.progress-bar[aria-valuenow="2"],
#enem-simulator .simulator-nav .progress-bar[aria-valuenow="0"], 
.progress-bar[aria-valuenow="2"] {
  min-width: 30px;
}
/* END PROGRESS BAR*/

/* TIMER */
#enem-simulator .simulator-content .timer {
  font-size: 25px;
  text-align: right;
  font-weight: bold;
}

#enem-simulator .simulator-content .timer p {
  margin-bottom: 0;
  line-height: 35px;
  width: 200px;
  border: none;
  font-size: 25px;
  text-align: right;
}
/* END TIMER*/

/* NAVIGATION */
#enem-simulator .simulator-pagination .pagination .page-link {
  padding: 10px 7px 10px 5px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  background-color: #fff;
  border: 1px solid #dee2e6;
  font-weight: 400;
  box-shadow: none;
}

#enem-simulator .simulator-pagination .pagination .page-item {
  margin: 0;
}

#enem-simulator .simulator-pagination .pagination .page-item:first-child .page-link {
  margin-left: 0;
  margin-right: 5px;
}

#enem-simulator .simulator-pagination .pagination .page-link {
  text-decoration: none;
}

#enem-simulator .simulator-pagination .pagination .page-link:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

#enem-simulator .simulator-pagination .pagination .page-item:not(.disabled) .page-link {
  color: var(--es-main-color);
}

#enem-simulator .simulator-pagination .pagination .page-item.disabled .page-link span {
  color: #6c757d;
}

#enem-simulator .simulator-pagination .pagination a:focus, 
#enem-simulator .simulator-pagination .pagination a:hover {
  text-decoration: none;
}

#enem-simulator .simulator-pagination .pagination {
  margin: 0;
}

#enem-simulator .simulator-pagination .pagination .revise {
  float: right;
  right: 0;
  position: absolute;
}
/* END NAVIGATION */

/* FOOTER */
#enem-simulator .simulator-content .simulator-footer {
  padding-right: 0;
  margin-top: 30px;
}

#enem-simulator .simulator-footer button, 
#enem-simulator .simulator-result .new-simulator {
  padding: 10px 7px 10px 7px;
  border-radius: 5px !important;
  border: 1px solid #dee2e6 !important;
  background-color: #007bff !important;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  text-transform: none;
}

#enem-simulator .simulator-footer button:hover {
  background-color: #0059b9 !important;
}

#enem-simulator .simulator-footer .mr-4 {
  margin-right: 15px !important;
}
/* END FOOTER */

/* NAV RESULT TEST */
#enem-simulator .simulator-nav h3, 
#enem-simulator .simulator-result h3 {
  margin-top: 60px;
  font-weight: 700;
  font-size: 40px;
  color: var(--es-main-color);
  font-family: var(--es-main-fonty-family);
}

#enem-simulator .simulator-nav h4, 
#enem-simulator .simulator-result h4 {
  margin-top: 45px;
  font-weight: 700;
  font-size: 32px;
  color: var(--es-main-color);
  font-family: var(--es-main-fonty-family);
}

#enem-simulator .simulator-nav h5, 
#enem-simulator .simulator-result h5 {
  margin-top: 45px;
  font-weight: 700;
  font-size: 24px;
  color: var(--es-main-color);
  font-family: var(--es-main-fonty-family);
}

#enem-simulator .simulator-nav p, 
#enem-simulator .simulator-result p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 21px;
  color: var(--es-main-color);
  font-family: var(--es-main-fonty-family);
}

#enem-simulator .simulator-nav .p-4, 
#enem-simulator .simulator-result .p-4 {
  padding: 16px !important;
} 

#enem-simulator .simulator-nav ul, 
#enem-simulator .simulator-result ul {
  margin: 0;
  padding: 0;
}

#enem-simulator .simulator-nav li, 
#enem-simulator .simulator-result li {
  font-size: 14px;
  font-weight: bolder;
  list-style-type: none;
  display: inline;
  font-family: var(--es-main-fonty-family);
  font-weight: 700;
  margin-left: 20px;
}

#enem-simulator .simulator-nav li:first-child , 
#enem-simulator .simulator-result li:first-child  {
  margin-left: 0;
}

#enem-simulator .simulator-nav .question-nav .row, 
#enem-simulator .simulator-result .question-nav .row {
  margin-left: 2px;
}

#enem-simulator .question-nav .question-nav-item, 
#enem-simulator .simulator-result .question-nav-item  {
  text-decoration: none !important;
  font-weight: bold;
  color: #fff !important;
  width: 55px;
  height: 50px;
  text-align: center;
  line-height: 1;
  font-size: 15px;
  box-shadow: none;
}

#enem-simulator .simulator-result table {
  border: none;
  border-collapse: collapse !important;
}

#enem-simulator .simulator-result th, 
#enem-simulator .simulator-result td {
  border: none;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: 17px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
/* END NAV RESULT TEST */



