#start-simulator {
  width: 100%;
  font-size: 2rem;
}

#question_category {
  font-size: 2rem;
  height: auto;
}

.question h4, h3 {
  margin: .5rem auto .5rem !important;
}

.custom-control-label {
  font-weight: bolder !important;
  font-size: 2rem;
}

.custom-control-label::before {
  width: 2.5rem;
  height: 2.5rem;
}

.custom-control-label::after {
  width: 2.5rem;
  height: 2.5rem;
}

.custom-checkbox {
  margin-bottom: 1rem;
}